

/* 超小设备 (手机, 600px 以下屏幕设备) */
@media screen and (max-width: 600px) {
}

/* 小设备 (平板电脑和大型手机，600 像素及以上) */
@media screen and (min-width: 600px) {
}

/* 中型设备（平板电脑，768 像素及以上） */
@media screen and (min-width: 768px) {
}

/* 大型设备（笔记本电脑/台式机，992 像素及以上） */
@media screen and (min-width: 992px) {
  .sidebar.fold {
    width: 80px;
    .title svg {
      font-size: 2.5rem;
    }
  }
  .sidebar.unfold {
    width: 15vw;
  }
}

@media screen and (min-width: 1200px) {
  .fold {
    width: 80px;
    .title svg {
      font-size: 2.5rem;
    }
  }
  .unfold {
    width: 12vw;
  }
}
